body {
    background-color: #1a1a1a;
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

header.header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #535353;
    padding: 6px 20px 12px 20px;
}

header.header>a.logo-link {
    text-decoration: none;
}


header.header>a.logo-link span {
    color: #fff;
    font-size: 16px;
    vertical-align: super;
    margin: 0 10px;
}

header.header>.search-container>input.search-bar {
    height: 24px;
    background-color: transparent;
    color: #fff;
    border: none;
    padding-left: 35px;
    background: url("images/magnifying-glass.png") no-repeat 10px center;
    background-size: 16px;
    position: absolute;
    left: 0;
    right: 0;
    width: 200px;
    top: 0;
}

header.header>.search-container {
    position: relative;
    left: 0;
    width: 226px;
    height: 24px;
    margin-bottom: 4px;
}

header.header>.search-container>button.control-button {
    position: absolute;
    width: 50px;
    background: transparent;
    border: 1px solid #535353;
    border-radius: 5px;
    color: #535353;
    padding: 3px 0;
    right: 75px;
    top: 0;
    margin-top: 1px;
}

header.header>nav {
    margin-bottom: 5px;
    margin-left: auto;
}

header.header>nav a {
    color: #fff;
    font-size: 13px;
    text-decoration: none;
    margin: 0 10px;
}

header.header>.switch-button {
    margin-left: 10px;
    cursor: pointer;
    width: 40px;
    border-radius: 20px;
    border: 1px solid #535353;
    background-color: #2f2f2f;
    height: 20px;
    margin-right: 10px;
}

header.header>.switch-button>.switch-circle {
    width: 18px;
    height: 18px;
    border-radius: 10px;
    background-color: #1a1a1a;
    margin: 1px;
}

header.header>.social-links>img {
    width: 19px;
    height: 19px;
    margin: 2px 10px 0 10px;
}



section.hero {
    text-align: center;
}
section.hero h1{
    background: -webkit-linear-gradient(315deg,#42d392 25%,#647eff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 76px;
    width: 900px;
    margin: 100px auto 0 auto;
    font-weight: 800;
}
section.hero h2{
    font-size: 22px;
    margin: 24px auto 40px;
    color: #ebebeb99;
    font-weight: 300;
}

.vue-button {
    height: 40px;
    padding: 8px 25px;
    font-size: 18px;
    border-radius: 9px;
    font-weight: 600;
    border: none;
}


.vue-button.primary {
    background-color: #42b883;
    color: #213547;
}
.vue-button.secondary {
    background-color: #2f2f2f;
    color: #aac8e4;
}

section.hero .vue-button {
    margin: 0 5px;
}